.wallet-container {
  .ant-card-body {
    padding: 16px
  }


  .ant-select {
    width: 200px
  }

  .cover {
    position: relative;

    img {
      height: 360px
    }

    .tips {

      position: absolute;
      bottom: 0;
      color: white;
      display: none;
    }

    &:hover {
      opacity: 1;

      .tips {
        display: block;
      }
    }
  }
}
